body {
	background-color: white;
	color: #000000;
	font-weight: 400;
	font-family: Roboto,"Helvetica Neue",sans-serif;
}

header {
	position: fixed;
	top: 0px;
	background-color: rgb(69, 46, 137);
	color: black;
	width: 100%;
}

.course_name {
	text-align: center;
	margin: 15px 0px 15px 0px;
	font-size: 16px;
	color: white;
	width: 100%;
}

.button {
	background-color: rgb(69, 46, 137);
	margin: 25px 5px 25px 0px;
	height: 60px;
}

.in-header {
	display: flex;
}

.layout {
	background-color: rgb(255, 255, 255);
	height: 100%;
}

.blanket-div {
	background-color: rgb(255, 255, 255);
	margin-top: 150px;
}

.theme {
	width: 100%;
	height: 600px;
	overflow: hidden;
}

.skull {
	text-align: center;
}

h2 {
	font-size: 35px;
	text-align: center;
	color: black;
}

h3 {
	text-align: center;
}

.menu {
	float: left;
	width: 20%;
}

.menu-button {
	background: #f1dcff;
	width: 100%;
    border: 1px solid #666;
    text-align: left;
    font-size: 15px;
    padding: 5% 5%;
    cursor: pointer;
    transition: background 9999999s;
}

button:active {
  background: #bd71ff;
  transition: background 0s;
}

.text1 {
	float: right;
	width: 80%;
}

.in-text {
	margin: 0% 5% 0% 5%; 
	font-size: 20px;
	color: #4d4d4d;
	line-height: 1.7;
}

.text {
	text-indent: 25px;
	text-align: justify;
}

.footer {
	text-align: center;
}


